body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: row;
}

nav {
  background: linear-gradient(to bottom, #11001b, #35004e);
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-grow: 0.5;
  transition: flex-grow 0.3s;
  position: relative;
  overflow: hidden;
  border-right: 4px solid #000;
}

nav:before,
nav:after {
  content: "";
  position: absolute;
  top: -100px;
  bottom: -100px;
  width: 100%;
  background: linear-gradient(to bottom, #11001b, #35004e);
  transform: skewY(-15deg);
  z-index: -1;
}

nav:before {
  left: -50%;
}

nav:after {
  right: -50%;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin-bottom: 20px;
  position: relative;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  letter-spacing: 2px;
  transition: font-size 0.3s;
}

nav a:hover {
  font-size: 24px;
}

.navbar-item-frame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding-bottom: 80%;
  background-color: transparent;
  border: 2px solid #fff;
  transform-origin: center center;
  transition: all 0.3s;
}

nav li:hover .navbar-item-frame {
  transform: translate(-50%, -50%) rotate(45deg);
}

main {
  padding: 20px;
  flex-grow: 4;
  background: linear-gradient(to bottom right, #3b1400, #581800); 
}

h1 {
  font-size: 24px;
}

p {
  font-size: 16px;
}
