body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: row;
}

nav {
  background: linear-gradient(to bottom, #6a00a9, #9c00e6);
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-grow: 0.5; /* Updated width */
  transition: flex-grow 0.3s; /* Added transition effect */
}

nav:hover {
  flex-grow: 0.8; /* Increased width on hover */
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin-bottom: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
  transition: font-size 0.3s; /* Added transition effect */
}

nav a:hover {
  font-size: 22px; /* Increased font size on hover */
}

main {
  padding: 20px;
  flex-grow: 4;
}

h1 {
  font-size: 24px;
}

p {
  font-size: 16px;
}
